<div class="sidebar">
    <div style="background-color: #444;" class="mb-3 me-3" title="Profile">
        <a href="/profile"><i class='bx bx-user'></i> <span>Profile</span></a>
    </div>
    <div style="background-color: #555;" class="mb-3 me-3" title="Order">
        <a href="/order"><i class='bx bx-cart'></i> <span>Order</span></a>
    </div>
    <div style="background-color: #666;" class="mb-3 me-3" title="Address">
        <a href="/address"><i class='bx bx-map'></i> <span>Address</span></a>
    </div>
    <div style="background-color: #777;" class="mb-3 me-3" title="Help Center">
        <a href="help"><i class='bx bx-help-circle'></i> <span>Help Center</span></a>
    </div>
</div>