
    <!-- Footer -->
    <footer class="pt-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <div class="footer-logo">
                            <a href="/">
                                <img src="/static/whitelogo.png" width="200" alt="Logo">
                            </a>
                            <p>Your trusted partner for plumbing, electrician, carpentry, renovations, and more. We
                                provide expert services with a commitment to quality and customer satisfaction.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <div class="footer-company">
                            <h3>Company</h3>
                            <ul>
                                <li>
                                    <a href="/about" target="_blank">About</a>
                                </li>
                                <!-- <li>
                                    <a href="/service-details" target="_blank">Services</a>
                                </li> -->
                                <li>
                                    <a href="/register-as-a-professional" target="_blank">Register As a Professional</a>
                                </li>
                                <li>
                                    <a href="/gallery" target="_blank">Gallery</a>
                                </li>
                                <!-- <li>
                                    <a href="blog.html" target="_blank">Blogs</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <div class="footer-company">
                            <h3>Support</h3>
                            <ul>

                                <li>
                                    <a href="/privacy-policy" target="_blank">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="/terms-and-conds" target="_blank">Terms & Conditions</a>
                                </li>

                                <li>
                                    <a href="/contact" target="_blank">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-item">
                        <div class="footer-contact">
                            <h3>Contact Info</h3>
                            <ul>
                                <li>
                                    <span>Email:</span>
                                    <a href="mailto:Customerservice@casaxprt.com"
                                        target="_blank">customerservices@casaxprt.com</a>
                                </li>
                                <li>
                                    <span>Phone:</span>
                                    <a href="tel:+919297884500" target="_blank">+91 92978 84500</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li>
                                    <a href="http://www.facebook.com/casaxprt" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/casaxprt" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/casaxprt" target="_blank">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/casaxprt" target="_blank">
                                        <i class='bx bxl-instagram'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <p>Copyright @ <script>document.write(new Date().getFullYear())</script> &nbsp;&nbsp;&nbsp;<img src="/static/whitelogo.png" width="100" alt="Logo"></p>
                <!-- <p>Designed By <a href="https://ghosting.in/" target="_blank"><img src="/static/assets/img/GHOSTING.png"
                            width="40" alt="ghosting tech"> Ghosting Tech</a></p> -->

            </div>
        </div>
    </footer>
  