{% extends 'adminpannel/base.html' %}

{% block body %}
{% include 'adminpannel/loader.html' %}
<div id="main-wrapper">
    <!-- header -->
    {% include 'adminpannel/header.html' %}
    <!-- #/ header -->
    <!-- sidebar -->
    {% include 'adminpannel/sidebar.html' %}
    <!-- #/ sidebar -->
    <div class="content-body">
        <div class="container">
            <div class="row">
                {% include 'base/alerts.html' %}
                <div class="col-lg-4 col-xl-4">
                    <div class="card p-2">
                        <h6 style="font-weight: 500;">Booking Details</h6>
                        <div class="col-md-auto mb-4">
                            <div class=" px-3">
                                <hr>
                                <div class=" py-1">
                                    Inv : {{booking.invoice_no}} <br> Date : {{booking.created_at}}
                                </div>
                                <div>
                                    Booking Date : {{booking.booking_time}} <br> Time Slot :
                                    {{booking.time_slot.start_time}}
                                </div>
                                <hr>
                            </div>
                        </div>

                        <h6 style="font-weight: 500;">Work Assign History</h6>
                        <div class="col-md-auto mb-4">
                            {% for bh in booking.booking_history.all %}
                            <div class=" px-3">
                                <hr>
                                <div class=" py-1">
                                    Staff  : {{bh.staff_status.full_name}} <br> Mobile No : {{bh.staff_status.phone_number}}
                                </div>
                                <div>
                                    Status : {{bh.staff_status}}
                                </div>
                                <hr>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-xl-8">
                    <div class="card p-2">
                        <h6 style="font-weight: 500;">Add Products</h6>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="d-flex">
                                <select name="product" id="" class="form-control">
                                    <option value=""></option>
                                    {% for p in product %}
                                    <option value="{{p.uid}}">{{p.product_name}}-Rs. {{p.dis_price}}</option>
                                    {% endfor %}
                                </select>  
                                <button class="btn btn-info">Add</button>  
                            </div>            
                        </form>

                        <hr>
                        {% for p in booking.booking_prod_det.all %}
                        <div class="d-flex justify-content-between">
                            
                            <div style="display: flex;">
                                <div>{{forloop.counter}}.</div>
                                <div class="mx-2"><img  style="width: 40px;" src="{{p.product.image.url}}" alt=""></div>
                                <div>
                                    <p> {{p.product.product_name}}</p>
                                    <p>quantity {{p.quantity}}</p>
                                </div>
                            </div>
                            <div >
                                <a href="{% url 'delbookingproduct' p.uid %}" class="btn btn-danger px-2">x</a>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'adminpannel/copywrite.html' %}
</div>

{% endblock body %}