{% extends 'base/base.html' %}

{% block body %}

    <!-- Error -->
    <div class="error-area">
        <div class="error-item">
            <div class="d-table">
                
                <div class="d-table-cell">
                    <div class="container">
                        <div class="error-img">
                            <img src="/static/assets/img/error-main.png" alt="Error">
                            <img src="/static/assets/img/error-shape1.png" alt="Shape">
                            <img src="/static/assets/img/error-shape2.png" alt="Shape">
                            <img src="/static/assets/img/error-shape3.png" alt="Shape">
                        </div>
                        <p>Page Not Found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Error -->


{% endblock body %}