{% extends 'base/base.html' %}

{% block body %}
    <!-- Page Title -->
    <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="title-item">
                        <h2>About</h2>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <i class='bx bx-chevrons-right'></i>
                            </li>
                            <li>
                                <span>About</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <!-- Choose -->
    <div class="choose-area two pt-100 pb-70">
        <div class="choose-shape">
            <img src="/static/assets/img/home-one/choose1.png" alt="Shape">
            <img src="/static/assets/img/home-one/banner-shape3.png" alt="Shape">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="choose-content">
                        <div class="about-img">
                            <img src="/static/assets/img/about/about1.webp" alt="Choose">
                            <img src="/static/assets/img/about/about2.webp" alt="Choose">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-contact two">
                        <div class="section-title">
                            <span class="sub-title">About Us</span>
                            <h2>Certified Cleaning Service Company Over 15 years</h2>
                        </div>
                        <p>Welcome to Casa Expert, your partner in creating better living spaces and memorable
                            experiences.
                            With a passion for excellence, we bring a diverse range of services to your doorstep. Our
                            skilled professionals specialize in plumbing, electrical work, carpentry, renovations, and
                            more. We understand the importance of a comfortable and secure home, which is why we offer
                            solutions like pest control and home appliance installations.</p>
                        <p>Our commitment to quality is unwavering. We take pride in delivering top-notch services that
                            exceed expectations. Whether it's a leaky faucet or a grand event, we approach every task
                            with dedication and attention to detail. Our team is driven by a shared vision: to enhance
                            the way you live and celebrate.
                            At Casa Expert, we value the trust our clients place in us. Your satisfaction is our
                            priority,
                            and we strive to make your journey with us smooth and rewarding. Join us as we transform
                            spaces, build connections, and create lasting impressions. Discover the Casa Expert
                            difference
                            today.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Choose -->

    <!-- Counter -->
    <div class="counter-area four">
        <div class="counter-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-6 col-lg-3">
                        <div class="counter-item">
                            <h3 class="text-white">
                                <span class="odometer" data-count="15">00</span>
                            </h3>
                            <p>Years Experienced</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-3">
                        <div class="counter-item">
                            <h3 class="text-white">
                                <span class="odometer" data-count="156">00</span>
                            </h3>
                            <p>Happy Clients</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-3">
                        <div class="counter-item">
                            <h3 class="text-white">
                                <span class="odometer" data-count="756">00</span>
                            </h3>
                            <p>Project Completed</p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-3">
                        <div class="counter-item">
                            <h3 class="text-white">
                                <span class="odometer" data-count="22">00</span>
                            </h3>
                            <p>Active Project</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Counter -->


    <!-- Love -->
    <section class="love-area pb-100 mt-5">
        <div class="container">
            <div class="love-item">
                <div class="section-title">
                    <h2>Why You Love To Work With Us</h2>
                </div>
                <p>Working with Casa Expert is a pleasure because of their dedication to excellence. They offer a wide
                    array
                    of services, ensuring every aspect of your home and events is taken care of with utmost
                    professionalism. Their commitment to quality and customer satisfaction sets them apart, making every
                    collaboration enjoyable and rewarding. Whether it's fixing a plumbing issue or planning an event,
                    Casa Expert expertise and passion shine through, making them a reliable partner you can always count
                    on.</p>

                <ul>
                    <li>
                        <i class='bx bx-check'></i>
                        We Provide Qualified & Expert
                    </li>
                    <li>
                        <i class='bx bx-check'></i>
                        Safe Work & Satisfaction
                    </li>
                    <li>
                        <i class='bx bx-check'></i>
                        Quick Response & 24/7 Support
                    </li>
                    <li>
                        <i class='bx bx-check'></i>
                        Less Time Done More
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End Love -->

    <!-- Subscribe -->
    <!-- <div class="subscribe-area">
        <div class="subscribe-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="section-title">
                            <h2>Stay Up To Date With Our Latest News!</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL"
                                required autocomplete="off">

                            <button class="btn cmn-btn" type="submit">
                                Subscribe
                            </button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Subscribe -->
{% endblock body %}