{% extends 'base/base.html' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="my-5 mt-5">
                <h3 class="fw-bold">Search Results <i class='bx bx-search bx-fade-right'></i></h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="details-project mb-5">
        <div class="row">
            {% for service in product %}
            <div class="col-lg-8">
                <div class="details-project-inner">
                    <div class="addWala">
                        <div>
                            <p class="headPara text-black">{{service.product_name}}</p>
                            <svg width="20px" height="100%" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M18.333 10a8.333 8.333 0 11-16.667 0 8.333 8.333 0 0116.667 0zm-7.894-4.694A.476.476 0 009.999 5a.476.476 0 00-.438.306L8.414 8.191l-2.977.25a.48.48 0 00-.414.342.513.513 0 00.143.532l2.268 2.033-.693 3.039a.51.51 0 00.183.518.458.458 0 00.528.022L10 13.298l2.548 1.629a.458.458 0 00.527-.022.51.51 0 00.184-.518l-.693-3.04 2.268-2.032a.513.513 0 00.143-.532.48.48 0 00-.415-.342l-2.976-.25-1.147-2.885z"
                                    fill="orange"></path>
                            </svg>
                            <span>{% if service.average_rating %} {{service.average_rating}}{% endif %}
                                ({{service.total_reviews}} Ratings)</span>
                            <p class="mt-2 headPara text-black">₹{{service.dis_price}}
                                <svg width="20" height="100%" viewBox="0 0 24 24" fill="#545454"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" fill="#545454">
                                    </path>
                                </svg>
                            </p>
                            <hr>
                            <div style="width: 340px;">
                                {{service.product_description|safe}}
                            </div>
                        </div>
                        <div>
                            {% if service.image %}
                            <img style="width: 150px;height: 100px;" src="{{service.image.url}}" alt="image">
                            {% endif %}
                            <form action="{% url 'add_to_cart' %}" method="get" id="form{{forloop.counter}}">
                                <input type="hidden" name="uid" value="{{service.uid}}">
                                <div class="add2cart">
                                    <a style="cursor: pointer;" class="add-to-cart pluss"
                                        onclick="document.getElementById('form{{forloop.counter}}').submit();">add
                                        to cart</a>
                                        
                                        <a href="{% url 'cart' %}" class="serviceViewCart"><span class="count"></span>
                                                        
                                          
                                    View Cart
                                    </a>
                                </div>
                                <input type="hidden" style="width: 50px;" class="input-qty" value="1" name="quantity">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            {% empty %}
            <h3>No Search Result Found</h3>
            {% endfor %}
        </div>
    </div>
</div>
</div>


{% endblock body %}