{% extends 'base/base.html' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 mt-5">
            <div class="my-5">
                <h3>Order</h3>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-1 font-weight-bolder text-center">THANK YOU</h1>
                <p class="text-center display-6  font-weight-bold">For Order Us We will Connect You Soon ❤️...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="/">
                        <button class="button-12">Home</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock body %}